{{> scripts }}
{{> navbar }}

<head>
  <title>Carleton Course Reviews</title>
</head>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Course Code</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each reviews}}
        <tr>
            <td>{{this.user}}</td>
            <th scope="row"><a href="/course/{{this.code}}">{{this.code}}</a></td>
            <td>{{this.review}}</td>
            <td>{{this.rating}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>